<server>
	<config public=false host_name="Role Play 0" max_slots=32 port=28970 rcon_pass="password"/>
	<master host="185.5.97.181" port=7777 />
	<version build=0 />
	<world name="NEWWORLD\\NEWWORLD.ZEN" />
	<description text="Role Play 0" />

	<!-- Default -->
	<import src="default/scripts.xml" />

	<!-- Gamemode -->
	<import src="gamemodes/config.xml" />
	<items src="gmItems.xml" />
	
	<!-- Ids -->
	<mds src="mds.xml" />

	<modification enabled=false />
</server>
