<server>
	<script src="inc/player.nut" type="client" />
	<script src="inc/item.nut" type="client" />
	<script src="inc/animations.nut" type="client" />
	<script src="inc/draw3d.nut" type="client" />
	<script src="inc/hello.nut" type="client" />
	<script src="inc/work.nut" type="client" />
	<script src="inc/bank.nut" type="client" />
	<script src="inc/lou.nut" type="client" />
	<script src="inc/brothel.nut" type="client" />
	<script src="callbacks.nut" type="client" />
</server>
